/* ***** commons ***** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}

a{
    text-decoration: none;
}

nav{
    width: 90%;
    float: left;
    text-align: center;
}

/* *****main***** */

main{
    height: calc(100vh - 150px);
}

/* *****sidebar***** */
.sidebar{
    background-color: #000000;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    float: left;
}
#logo{
    width: 55%;
    margin:20px;
}


.app{
    display: flex;
    justify-content: flex-end;
}


/* *****sezione principale***** */
.sez-main{
    background-color: #141922;
    height: 100%;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    
    
}
.navbar{
    height: 50px;
    /* background-color: #fff; */
    width: 100%;
}

.comuni{
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* align-content: stretch;  */
    gap: 5px; 
    margin-bottom: 20px;
}
.played{
    /* height: 400px; */
    /* background-color: tomato; */
    
}

.creato{
    /* height: 400px; */
    /* background-color: yellow; */
    /* overflow: auto; */
}

.popolari{
    /* height: 400px; */
    /* background-color: seagreen; */
    /* overflow: auto; */
}
.blocco{
    height: 300px;
    width: 200px;
    background-color: greenyellow;
    border: 2px solid black;
    display: flex;
}

/* ******top main***** */
.sez-top-main{
    background-color: #080B12;
    height: 100px;
    width: 100%;
    display: flex;
    float: left;
}
.btn{
    border: 1px solid white;
    border-radius: 40px;
    margin: 30px 5px;
    padding: 10px 30px;
    display:inline-block;
    color: white;
    text-transform: uppercase;
    font-size: 13px;    
}
.upgrade{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* *****footer****** */

footer{
    background-color: #282828;
    width: 100%;
    height: 150px;
    
}
/* *****debug***** */

/* .debug .sidebar{
    background-color: yellow;
    height: 100%;
    width: 300px;
    display: flex;
    border: 2px solid black;
    float: left;
}

.debug .sez-main{
    background-color: blueviolet;
    height: 100%;
    width: calc(100% - 300px);
    display: flex;
    border: 2px solid black;
    float: left;
}

.debug .sez-top-main{
    background-color: grey;
    height: 100px;
    width: 100%;
    display: flex;
    border: 2px solid black;
    float: left;
} */
/* .debug .played{
    height: 400px;
    background-color: tomato;
    
} */

/* .debug .creato{
    height: 400px;
    background-color: yellow;
    overflow: auto;
} */

/* .debug .popolari{
    height: 400px;
    background-color: seagreen;
    overflow: auto;
} */



/* .debug footer{
    background-color: #282828;
    width: 100%;
    height: 150px;
    border: 2px solid black;
} */